.jewels{
    width: 130px;
    /* height: 200px;  */
    /* padding: 40px; */
    margin-left: 60px; 
    /* border: 1px solid blue;  */
   
    }
.text{
    text-align: center;
    font-size: 60px;
    font-family: 'PT Serif', serif;
}
.mRandomNumber{
    margin-left: 170px;
    font-family: 'PT Serif', serif;
}
/* .points{
     border: 1px solid blue;  
    width: 100px; 
    height: 100px; 
    margin: 50px; 
    /* font-family: 'PT Serif', serif; 
    } */

.container{
    /* border: 1px solid orangered; */
    /* height: 600px; */
    width: 960px;
    margin: 0 auto 0 auto;
    
}
header{
    /* border: 1px solid blue; */
    font-size: 100px;
    padding: 40px;
    text-align: center;
    font-family: 'PT Serif', serif;
}
.firstRow{
    border: 1px solid gold;
    height: 300px;
}
.secondRow{
    border: 1px solid gold;
    height: 300px;
}
.col-md-6{
    border: 1px solid greenyellow;
}

p{
    text-align: justify;
    word-spacing: 2px;
    font-family: 'PT Serif', serif;
}

footer{
    text-align: center;
    font-family: 'PT Serif', serif;
}